<form name="editForm" role="form" ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActivityLabel" data-translate="starPointsApp.activity.home.createOrEditLabel">
            Create or edit a Activity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.activity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.activity.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="starPointsApp.activity.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.activity.name" ng-maxlength="150" required/>
            <field-errors field="editForm.name" max-length-value="150"></field-errors>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="starPointsApp.activity.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.activity.type" id="field_type" required>
                <option value="INTERNAL_BLOG_POST" data-translate="starPointsApp.ActivityType.INTERNAL_BLOG_POST">INTERNAL_BLOG_POST</option>
                <option value="EXTERNAL_BLOG_POST" data-translate="starPointsApp.ActivityType.EXTERNAL_BLOG_POST">EXTERNAL_BLOG_POST</option>
                <option value="TECHNICAL_EVENT" data-translate="starPointsApp.ActivityType.TECHNICAL_EVENT">TECHNICAL_EVENT</option>
                <option value="FUN_EVENT" data-translate="starPointsApp.ActivityType.FUN_EVENT">FUN_EVENT</option>
                <option value="COACHING" data-translate="starPointsApp.ActivityType.COACHING">COACHING</option>
                <option value="ACTIV_DISCUSSION" data-translate="starPointsApp.ActivityType.ACTIV_DISCUSSION">ACTIV_DISCUSSION</option>
                <option value="INTERNAL_TRAINING" data-translate="starPointsApp.ActivityType.INTERNAL_TRAINING">INTERNAL_TRAINING</option>
                <option value="EXTERNAL_TRAINING" data-translate="starPointsApp.ActivityType.EXTERNAL_TRAINING">EXTERNAL_TRAINING</option>
                <option value="IMPROVEMENT" data-translate="starPointsApp.ActivityType.IMPROVEMENT">IMPROVEMENT</option>
                <option value="NEWSLETTER" data-translate="starPointsApp.ActivityType.NEWSLETTER">NEWSLETTER</option>
                <option value="SEUIL" data-translate="starPointsApp.ActivityType.SEUIL">SEUIL</option>
            </select>
            <field-errors field="editForm.type"></field-errors>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="starPointsApp.activity.deliverableDefinition"
                   for="field_deliverableDefinition">Deliverable Definition</label>
            <input type="text" class="form-control" name="deliverableDefinition" id="field_deliverableDefinition"
                   ng-model="vm.activity.deliverableDefinition"
                />
        </div>

        <div class="form-group">
            <label data-translate="starPointsApp.activity.level" for="field_level">Level</label>
            <select class="form-control" id="field_level" name="level" ng-model="vm.activity.level"
                    ng-options="level as level.name for level in vm.levels | orderBy:'id' track by level.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
