<div>
    <h2><span data-translate="starPointsApp.mycontributions.title">My Contributions</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <br/>
    <button type="button" class="btn btn-primary" ng-click="vm.filterByQuarter = !vm.filterByQuarter">
        <span data-translate="starPointsApp.mycontributions.filterByQuarter">Filtrer par trimestre</span>
    </button>
    <div uib-collapse="!vm.filterByQuarter">
        <form name="filterForm" role="form" ng-submit="vm.loadContributions()">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.year"
                           is-open="vm.popup.opened" datepicker-options="vm.dateOptions"
                           ng-required="true" close-text="Fermer"  ng-pattern="^(\d{4})$"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openDatePicker()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </p>
            </div>
            <div class="col-xs-8">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.quarterId" uib-btn-radio="'Q1'">Q1</label>
                    <label class="btn btn-primary" ng-model="vm.quarterId" uib-btn-radio="'Q2'">Q2</label>
                    <label class="btn btn-primary" ng-model="vm.quarterId" uib-btn-radio="'Q3'">Q3</label>
                    <label class="btn btn-primary" ng-model="vm.quarterId" uib-btn-radio="'Q4'">Q4</label>
                </div>
                <button type="submit" class="btn btn-success"><span data-translate="starPointsApp.mycontributions.filter">Filtrer</span></button>
                <button type="button" class="btn btn-success" ng-click="vm.filterByQuarter=false; vm.loadContributions()">
                    <span data-translate="starPointsApp.mycontributions.displayAll">Tout afficher</span>
                </button>
            </div>
        </div>
            </form>
    </div>


    <div ng-if="vm.contributions.length>0">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="starPointsApp.contribution.deliverableDate">Deliverable Date</span></th>
                    <th><span data-translate="starPointsApp.contribution.deliverableName">Deliverable Name</span></th>
                    <th><span data-translate="starPointsApp.contribution.comment">Comment</span></th>
                    <th><span data-translate="starPointsApp.contribution.activity">Activity</span></th>
                    <th><span data-translate="starPointsApp.contribution.community">Community</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contribution in vm.contributions track by contribution.id">
                    <td><a ui-sref="contribution-detail({id:contribution.id})">{{contribution.id}}</a></td>
                    <td>{{contribution.deliverableDate | date:'mediumDate'}}</td>
                    <td>{{contribution.deliverableName}}</td>
                    <td>{{contribution.comment}}</td>
                    <td>
                        <a ui-sref="activity-detail({id:contribution.activity.id})">{{contribution.activity.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="community-detail({id:contribution.community.id})">{{contribution.community.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="person-detail({id:contribution.author.id})">{{contribution.author.firstName}}
                            {{contribution.author.lastName}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                            ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
    <div class="alert alert-info" ng-if="vm.contributions.length==0">
        <span data-translate="starPointsApp.mycontributions.noresults">Aucune contribution n'a été trouvée.</span>
    </div>
</div>
