
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonLabel" translate="starPointsApp.person.home.createOrEditLabel">Create or edit a Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.person.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.person.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starPointsApp.person.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.person.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starPointsApp.person.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.person.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starPointsApp.person.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.person.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="starPointsApp.person.entryDate" for="field_entryDate">Entry Date</label>
                <div class="input-group">
                    <input id="field_entryDate" type="text" class="form-control" name="entryDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.person.entryDate" is-open="vm.datePickerOpenStatus.entryDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('entryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
