<div>
    <h2><span data-translate="starPointsApp.contributions.allcontributions.title">All Contributions</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <br/>
    <filter-by-quarter quarter="vm.quarter" load-contributions="vm.loadContributions()"></filter-by-quarter>

    <div ng-if="vm.contributions.length>0">
        <button type="button" ng-csv="vm.exportContributions()" filename="{{vm.filename}}.csv"
                class="btn btn-success float-right">
            <span data-translate="global.form.csvexport">Export CSV</span>
        </button>
        <div class="clearfix"></div>
        <contributions-table contributions="vm.contributions"></contributions-table>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                            ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>

    <div class="alert alert-info" ng-if="vm.contributions.length<=0">
        <span data-translate="starPointsApp.contributions.noresults">No contributions found.</span>
    </div>
</div>
