<div>
    <h2><span data-translate="starPointsApp.starpoints.mystarpoints.title">My StarPoints</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div ng-if="vm.allStarpointsByCommunity.length>0">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span data-translate="starPointsApp.starpoints.allstarpoints.column.community">Community</span>
                    </th>
                    <th><span>StarPoints</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sc in vm.allStarpointsByCommunity">
                    <td>{{sc.community}}</td>
                    <td>{{sc.starpoints}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="alert alert-info" ng-if="vm.starpointsByCommunity.length<=0">
        <span data-translate="starPointsApp.starpoints.allstarpoints.noresults">Il n'y a aucun StarPoints pour le moment.</span>
    </div>
</div>
