<div>
    <h2 translate="starPointsApp.community.home.title">Communities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="community.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="starPointsApp.community.home.createLabel">
                        Create new Community
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="starPointsApp.community.name">Name</span></th>
                    <th><span translate="starPointsApp.community.members">Members</span></th>
                    <th><span translate="starPointsApp.community.leader">Leader</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="community in vm.communities track by community.id">
                    <td><a ui-sref="community-detail({id:community.id})">{{community.id}}</a></td>
                    <td>{{community.name}}</td>
                    <td>
                        <span ng-repeat="members in community.members">
                            <a class="form-control-static" ui-sref="person-detail({id: members.id})">{{members.firstName}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="person-detail({id:community.leader.id})">{{community.leader.firstName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="community-detail({id:community.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="community.edit({id:community.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="community.delete({id:community.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
